body {
    margin: 10px;
    font-family: Arial, sans-serif;
}

.banner {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.profile-pic {
    background-color: white;
    padding: 20px;
}

.profile-pic img {
    width: 220px;
    height: 200px;
    border-radius: 5px;
    /* border: 2px solid #6e6d67; */
    object-fit: cover;
}

.info {
    background-color: #dfcf9b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 180px;
}

.info h1 {
    margin: 0;
    font-size: 42px;
    line-height: 1.6;
}

.info h2 {
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.body-section {
    display: block;
    margin-left: 120px;
    margin-top: 20px;
}

.highlighted-title1 h2 {
    width: 160px;
    height: 25px;
    background-color: #181815;
    color: #ffffff;
    /* text-align: center; */
    padding-top: 5px;
    padding-left: 10px;
    font-weight: normal;

}

h2 {
    font-size: 14px;
    margin: 10px 0;
}

.highlighted-title1 .email {
    padding-top: 5px;
    text-decoration: underline;
}

.highlighted-title1 .email:hover {
    color: #0000ff;
}

.highlighted-title1 p {
    margin: 0;
}

.highlighted-title1 {
    margin-bottom: 50px;
}

.highlighted-title2 {
    padding-bottom: 40px;
}

.highlighted-title2 h2 {
    width: 210px;
    height: 25px;
    background-color: #181815;
    color: #ffffff;
    /* text-align: center; */
    padding-top: 5px;
    padding-left: 10px;
    font-weight: normal;
}

.highlighted-title2 p {
    margin: 0;
    max-width: 72%;
    line-height: 1.6;
}

.highlighted-title3 h2 {
    width: 150px;
    height: 25px;
    background-color: #181815;
    color: #ffffff;
    /* text-align: center; */
    padding-top: 5px;
    padding-left: 10px;
    font-weight: normal;
}

.highlighted-title3 b {
    margin: 0;
    max-width: 72%;
    line-height: 1.6;
    padding: auto;

}

span {
    padding-top: 20px;
    max-width: 72%;
    color: grey;
    line-height: 1.6;
}

.highlighted-title3 ul {
    margin: 0;
    max-width: 72%;
    line-height: 1.6;
}

.highlighted-title4 h2 {
    width: 110px;
    height: 25px;
    background-color: #181815;
    color: #ffffff;
    /* text-align: center; */
    padding-top: 5px;
    padding-left: 10px;
    font-weight: normal;
}

.highlighted-title4 .current {
    margin: 0;
    max-width: 72%;
    line-height: 1.6;
}

.highlighted-title5 h2 {
    width: 60px;
    height: 25px;
    background-color: #181815;
    color: #ffffff;
    /* text-align: center; */
    padding-top: 5px;
    padding-left: 10px;
    /* margin-bottom: 30px; */
    margin-top: 50px;
    /* font-weight: normal; */
}

.listfoursty ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    column-gap: 40px;
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
}

.listfoursty li {
    margin-bottom: 10px;
    color: #333;
}

.highlighted-title6 h2 {
    width: 70px;
    height: 25px;
    background-color: #181815;
    color: #ffffff;
    /* text-align: center; */
    padding-top: 5px;
    padding-left: 10px;
    /* font-weight: normal; */
}

.highlighted-title6 a {
    margin: 0;
    max-width: 72%;
    line-height: 1.6;
    text-decoration: none;
    color: #717175;
}

.highlighted-title7 h2 {
    width: 100px;
    height: 25px;
    background-color: #181815;
    color: #ffffff;
    /* text-align: center; */
    padding-top: 5px;
    padding-left: 10px;
    /* font-weight: normal; */
}
.highlighted-title7{
    margin-bottom: 50px;
}